#col-login{
    background-color: #67A97D !important;
    color: white;
    border-radius: 0px !important;
}
#col-image{
    background-color: #67A97D !important;
    color: white;
    font-weight: bold;
    border-radius: 0px !important;
}