#col-info-1{
    width: 70%;
    background-color: #E6E6E6 !important;
    margin-right: 20px;
}

#col-info-2{
    background-color: #E6E6E6 !important;
    display: flex;
    align-items: center;
}

#col-input{
    border-radius:10px!important;
    background-color: #67A97D;
    margin-right: 40px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
}

#btn-updown{
    background-color: #67A97D;
    outline: none;
    outline: none;
    border: none;
    color: white;
    margin-left: 15px;
}
