.col  {
    border-radius: 10px !important;
}

.row  {
    border-radius: 10px !important;
}

#col-info-11{
    width: 50%;
    background-color: #E6E6E6;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

#col-info-22{
    width: 50%;
    background-color: #E6E6E6;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 1px;
    text-align: left;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    #col-info-11{
        max-width: 500px;
        min-width: 500px;
    }
    #col-info-22{
        max-width: 500px;
        min-width: 500px;
    }
    .rcon{
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    #col-info-11{
        max-width: 400px;
        min-width: 400px;
    }
    #col-info-22{
        max-width: 400px;
        min-width: 400px;
    }
    .rcon{
        justify-content: center;
    }
}

#row-r{
    background-color: #E6E6E6 !important;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#col-r{
    background-color: #67A97D !important;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
}

#row-auspraegung{
    background-color: #E6E6E6;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

#col-name{
    column-width: 30%;
    background-color: #67A97D;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

.rot{
    color: #ff0000;
    text-decoration: none !important;
}
.gelb{
    color: #ffcc00;
    text-decoration: none !important;
}
.blau{
    color: #003cff;
    text-decoration: none !important;
}
.grün{
    color: #008b05;
    text-decoration: none !important;
}


.rot:hover{
    color: #ff0000;
    text-decoration: none !important;
}
.gelb:hover{
    color: #ffcc00;
    text-decoration: none !important;
}
.blau:hover{
    color: #003cff;
    text-decoration: none !important;
}
.grün:hover{
    color: #008b05;
    text-decoration: none !important;
}


a:hover {
    background-color: none !important;
    text-decoration: none !important;
  }